@model Farmina.Web.Models.AddProductModel


@{
	var discountHtml = Html.Partial("~/Views/Home/Partial/Discount.cshtml", Model.Discounts);
}


@for (int i = 1; i <= Model.Products.Count; i++)
{
	var item = Model.Products[i - 1];
	var elementId = (Model.ListIndex != 0 ? Model.ListIndex : 0) + i;
	var totalPrice = item.Price * item.DefaultCount;

	<div class="urun-liste-@elementId">
		<div class="row form-group">
			<label class="col-lg-1">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput"></label>
					<div class="form-number">@elementId</div>
					<div class="form-number delete" deleteproduct="@elementId"><i class="fa fa-trash"></i></div>
				</div>
			</label>

			<input type="hidden" name="productid-@elementId" value="@item.Id" />
			<input type="hidden" name="" id="product-elementId" value="@elementId" />
			<div class="col-lg-2">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput">Ürün Adı</label>
					<input type="text" class="form-control" id="formGroupExampleInput" name="productName-@elementId" placeholder="" value="@item.Name">
				</div>
			</div>
			<div class="col-lg-1">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput">Fiyatı</label>
					<input type="text" class="form-control" id="formGroupExampleInput" name="productPrice-@elementId" placeholder="" value="@item.Price">
				</div>
			</div>
			<div class="col-lg-1">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput">Adet</label>
					<input type="text" class="form-control" id="formGroupExampleInput" name="productQuantity-@elementId" placeholder="" value="@item.DefaultCount">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="form-group productDiscount-@elementId">
					@Html.Raw(discountHtml)
				</div>
			</div>
			<div class="col-lg-1">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput">Döviz Tipi</label>
					<input type="text" class="form-control" name="" placeholder="TL" value="TL">
				</div>
			</div>

			<div class="col-lg-1">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput">İndirim</label>
					<span class="span-edit priceWithInDiscount-@elementId">@totalPrice</span>
				</div>
			</div>

			<div class="col-lg-1">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput">KDV Hariç</label>
					<span class="span-edit priceWithoutTax-@elementId">@( (totalPrice) - ((totalPrice * 18) / 100) )  </span>
				</div>
			</div>

			<div class="col-lg-1">
				<div class="form-group">
					<label class="col-form-label" for="formGroupExampleInput">KDV Dahil</label>
					<span class="span-edit priceWithTax priceWithTax-@elementId">@( (totalPrice) + (totalPrice * 18 / 100) )</span>
				</div>
			</div>
		</div>
	</div>
}

<input type="hidden" name="name" value="@(Model.ListIndex > 0 ? (Model.Products.Count + Model.ListIndex) : Model.Products.Count())" class="products-list-index" />