@model Farmina.Web.DAL.Entity.Order

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var productList = Model.OrderProducts.ToList();
}

<header class="page-header">
    <h2>Belgeler</h2>
</header>
<div class="row">
    <div class="col-lg-12">
        <form id="form1" class="form-horizontal">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">Belge Detayları</h2>
                </header>
                <div class="card-body">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                Müşteri
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Company.Name)
                            </dd>
                            <dt>
                                Satıcı
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Supplier.Name)
                            </dd>
                            <dt>
                                Belge Tarihi
                            </dt>
                            <dd>
                                @(Model.VoucherDate.ToString("dd.MM.yyyy"))
                            </dd>
                            <dt>
                                Belge No
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.VoucherNumber)
                            </dd>
                            <dt>
                                Oluşturma Tarihi
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedDate)
                            </dd>

                            <dt>
                                Güncelleme Tarihi
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UpdatedDate)
                            </dd>

                        </dl>
                    </div>
                    <div>
                        <h2>Ürünler</h2>

                        @for (int i = 1; i <= productList.Count; i++)
                        {
                            var item = productList[i - 1];
                            <span>@i</span>
                            <span>@item.ProductName</span>
                            <span>@item.Quantity</span>
                            <span>@(item.Price.ToString("0.##"))</span>
                            <span>@item.Discount</span>
                            <span>@item.Total</span>
                            <br />
                        }
                    </div>

                </div>
                <footer class="card-footer text-left">
                    <div class="btn btn-default pull-left">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                  
                </footer>
            </section>
        </form>
    </div>

</div>




