@model Farmina.Web.DAL.Entity.Order

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var productList = Model.OrderProducts.ToList();
}

<header class="page-header">
	<h2>Belgeler</h2>
</header>
<div class="row">
	<div class="col-lg-12">
		<form id="form1" class="form-horizontal">
			<section class="card">
				<header class="card-header">
					<h2 class="card-title">Belge Detayları</h2>
				</header>
				<div class="card-body">

					<div>
						<dl class="dl-horizontal">
							<dt>
								Müşteri
							</dt>
							<dd>
								@Html.DisplayFor(model => model.Company.Name)
							</dd>
							<dt>
								Satıcı
							</dt>
							<dd>
								@Html.DisplayFor(model => model.Supplier.Name)
							</dd>
							<dt>
								Belge Tarihi
							</dt>
							<dd>
								@(Model.VoucherDate.ToString("dd.MM.yyyy"))
							</dd>
							<dt>
								Belge No
							</dt>
							<dd>
								@Html.DisplayFor(model => model.VoucherNumber)
							</dd>
							<dt>
								Oluşturma Tarihi
							</dt>

							<dd>
								@Html.DisplayFor(model => model.CreatedDate)
							</dd>
						</dl>
					</div>
					<div>
						<h2>Ürünler</h2>
						<table class="table table-bordered table-striped mb-0">
							<thead>
								<tr>
									<th>Sıra</th>
									<th>Ürün Adı</th>
									<th>Adet</th>
									<th>Fiyat</th>
									<th>İndirim</th>
									<th>Vergi</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								@for (int i = 1; i <= productList.Count; i++)
								{
									var item = productList[i - 1];
									<tr>
										<td>@i .</td>
										<td>@item.ProductName</td>
										<td>@item.Quantity</td>
										<td>@(item.Price.ToString("0.##"))</td>
										<td>@item.Discount</td>
										<td>@($"%{item.Order.Tax}")</td>
										<td>@(item.Total.ToString("0.##"))</td>
									</tr>
								}
							</tbody>
						</table>


					</div>

				</div>
				<footer class="card-footer text-left">
					<div class="btn btn-default pull-left">
						@Html.ActionLink("Back to List", "Index")
					</div>

				</footer>
			</section>
		</form>
	</div>

</div>




