@model IEnumerable<Farmina.Web.DAL.Entity.Order>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
	<h2>Belgeler</h2>
</header>

<!-- start: page -->
<div class="row">
	<div class="col">
		<section class="card">
			<header class="card-header">
				<h2 class="card-title">Eski Belgeler</h2>
			</header>
			<div class="card-body">
				<table class="table table-bordered table-striped mb-0" id="datatable-default">
					<thead>
						<tr>
							<th>Müşteri</th>
							<th>Satıcı</th>
							<th>Vergi Oranı</th>
							<th>Belge No</th>
							<th>Belge Tarihi</th>
							<th>Oluşturulma Tarihi</th>
							<th>Güncelleme Tarihi</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr id="@item.Id">
								<td>@item.Company.Name</td>
								<td>@item.Supplier.Name</td>
								<td>@item.Tax</td>
								<td>@item.VoucherNumber</td>
								<td>@(item.VoucherDate.ToString("dd.MM.yyyy"))</td>
								<td>@item.CreatedDate</td>
								<td>@item.UpdatedDate</td>
								<td class="table-actions">
									<a href="@Url.Action("Details","Order", new { id = item.Id })"><i class="fa fa-forward" style="font-size: large;"></i></a> &nbsp;
									<a href="#" onclick="deleteEntity('@item.Id','@Url.Action("Delete","Order")')" class="on-default remove-row"><i class="fa fa-trash" style="font-size: large;"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>


<!-- end: page -->
