@model IEnumerable<Farmina.Web.DAL.Entity.Supplier>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
	<h2>Tedarikçi</h2>
</header>

<!-- start: page -->
<div class="row">
	<div class="col">
		<section class="card">
			<header class="card-header">
				<div class="card-actions">
					<a class="buttoncolor" href="@Url.Action("Create","Supplier")">
						Tedarikçi Ekle <i class="fa fa-plus"></i>
					</a>
				</div>

				<h2 class="card-title">Tedarikçiler</h2>
			</header>
			<div class="card-body">
				<table class="table table-bordered table-striped mb-0" id="datatable-default">
					<thead>
						<tr>
							<th>Tedarikçi Adı</th>
							<th>Tedarikçi Kodu</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr id="@item.Id">
								<td>@item.Name</td>
								<td>@item.Code</td>
								<td class="table-actions">
									<a href="@Url.Action("Edit","Supplier", new { id = item.Id })"><i class="fa fa-edit" style="font-size: large;"></i></a> &nbsp;
									<a href="#" onclick="deleteEntity('@item.Id','@Url.Action("Delete","Supplier")')" class="on-default remove-row"><i class="fa fa-trash" style="font-size: large;"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
