@model IEnumerable<Farmina.Web.DAL.Entity.Company>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
	<h2>Şirket</h2>
</header>

<!-- start: page -->
<div class="row">
	<div class="col">
		<section class="card">
			<header class="card-header">
				<div class="card-actions">
					<a class="buttoncolor" href="@Url.Action("Create","Company")">
						Şirket Ekle <i class="fa fa-plus"></i>
					</a>
				</div>

				<h2 class="card-title">Şirketler</h2>
			</header>
			<div class="card-body">
				<table class="table table-bordered table-striped mb-0" id="datatable-default">
					<thead>
						<tr>
							<th>Şirket Adı</th>
							<th>Kodu</th>
							<th>Ülke</th>
							<th>Bölge</th>
							<th>Şehir</th>
							<th>Vergi No</th>
							<th>Posta Kodu</th>
							<th>Adres</th>
							<th>Kayıt Tarihi</th>
							<th>Güncelleme Tarihi</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@if (Model.Count() > 0)
						{
							foreach (var item in Model)
							{
								<tr id="@item.Id">
									<td>@item.Name</td>
									<td>@item.CustomerCode</td>
									<td>@item.Country</td>
									<td>@item.Region</td>
									<td>@item.City</td>
									<td>@item.TaxNumber</td>
									<td>@item.ZipCode</td>
									<td>@item.Address</td>
									<td>@(item.CreatedDate?.ToString("dd.MM.yyyy"))</td>
									<td>@(item.UpdatedDate?.ToString("dd.MM.yyyy"))</td>
									<td class="table-actions">
										<a href="@Url.Action("Edit","Company", new { id = item.Id })"><i class="fa fa-edit" style="font-size: large;"></i></a> &nbsp;
										<a href="#" onclick="deleteEntity('@item.Id','@Url.Action("Delete","Company")')" class="on-default remove-row"><i class="fa fa-trash" style="font-size: large;"></i></a>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>


<!-- end: page -->
